description = "PROFESSIONAL SKILLS"
==
<section id="skills" class="skills-section section-padding">
      <div class="container">
        <h2 class="section-title wow fadeInUp">Skills</h2>

        <div class="row">
          <div class="col-md-6">
            <div class="skill-progress">
              <div class="skill-title"><h3>PHP</h3></div> 
              <div class="progress">
                <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" ><span>99%</span>
                </div>
              </div><!-- /.progress -->
            </div><!-- /.skill-progress -->

            <div class="skill-progress">
              <div class="skill-title"><h3>MySQL</h3></div> 
              <div class="progress">
                <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100" ><span>97%</span>
                </div>
              </div><!-- /.progress -->
            </div><!-- /.skill-progress -->
            <div class="skill-progress">
              <div class="skill-title"><h3>Html/Html5</h3></div>  
              <div class="progress">
                <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100" ><span>97%</span>
                </div>
              </div><!-- /.progress -->
            </div><!-- /.skill-progress -->
          </div><!-- /.col-md-6 -->

          <div class="col-md-6">
            <div class="skill-progress">
              <div class="skill-title"><h3>Javascript</h3></div> 
              <div class="progress">
                <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" ><span>95%</span>
                </div>
              </div><!-- /.progress -->
            </div><!-- /.skill-progress -->
            <div class="skill-progress">
              <div class="skill-title"><h3>jquery</h3></div> 
              <div class="progress">
                <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100" ><span>94%</span>
                </div>
              </div><!-- /.progress -->
            </div><!-- /.skill-progress -->
            <div class="skill-progress">
              <div class="skill-title"><h3>Ajax</h3></div>  
              <div class="progress">
                <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100" ><span>96%</span>
                </div>
              </div><!-- /.progress -->
            </div><!-- /.skill-progress -->
          </div><!-- /.col-md-6 -->
        </div><!-- /.row -->

        <div class="skill-chart text-center">
          <h3>More skills</h3>
        </div>
          
        <div class="row more-skill text-center">
          <div class="col-xs-12 col-sm-4 col-md-2">
              <div class="chart" data-percent="91" data-color="e74c3c">
                    <span class="percent"></span>
                    <div class="chart-text">
                      <span>Soap/Rest Api</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
              <div class="chart" data-percent="75" data-color="2ecc71">
                    <span class="percent"></span>
                    <div class="chart-text">
                      <span>Nodejs</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
              <div class="chart" data-percent="80" data-color="3498db">
                    <span class="percent"></span>
                    <div class="chart-text">
                      <span>Css</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
              <div class="chart" data-percent="70" data-color="3498db">
                    <span class="percent"></span>
                    <div class="chart-text">
                      <span>Gulp/GruntJs</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
              <div class="chart" data-percent="90" data-color="3498db">
                    <span class="percent"></span>
                    <div class="chart-text">
                      <span>Bootstrap</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
              <div class="chart" data-percent="95" data-color="3498db">
                    <span class="percent"></span>
                    <div class="chart-text">
                      <span>Linux Env</span>
                    </div>
                </div>
            </div>
        </div>

      </div><!-- /.container -->
    </section>