

<section id="blog" class="latest-blog-section section-padding">
      <div class="container">
        <h2 class="section-title wow fadeInUp">Work Reviews</h2>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
       <div>   I have had the pleasure to work with VInith over the course of 8 months and 3 projects. VInith is a hard worker and a go...<a href="https://www.linkedin.com/in/vinith-thaithara-0a16ba18/" target="_blank">Read more...</a></div>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
       <div> Times flies is what they and I believe them. I have been wanting to write this recommendation for   ...<a  href="https://www.linkedin.com/in/vinith-thaithara-0a16ba18/" target="_blank">Read more...</a></div>
      <div class="carousel-caption">
        ...
      </div>
    </div>
     <div class="item">
       <div>  Vinith is very detail oriented, and is able to complete projects with minimal guidance. He is a capable programmer who is able to pickup new  <a  href="https://www.linkedin.com/in/vinith-thaithara-0a16ba18/" target="_blank">Read more...</a></div>
      <div class="carousel-caption">
        ...
      </div>
    </div>
       <div class="item">
       <div>  Vinith is very detail oriented, and is able to complete projects with minimal guidance. He is a capable programmer who is able to pickup new  <a  href="https://www.linkedin.com/in/vinith-thaithara-0a16ba18/" target="_blank">Read more...</a></div>
      <div class="carousel-caption">
    <h3>...</h3>
    <p>...</p>
  </div>
    </div>
  </div>

  <!-- Controls -->
  <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>
 
       
        
      </div><!-- /.container -->
    </section>

