<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default " id="tickerscroll"> 
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-12">
								<ul class="demo1"> 
									<li class="news-item">
										<table cellpadding="4">
											<tr>
												<td></td>
												<td>I have had the pleasure to work with VInith over the course of 8 months and 3 projects. VInith is a hard worker and a go...<a href="https://www.linkedin.com/in/vinith-thaithara-0a16ba18/" target="_blank">Read more...</a></td>
											</tr>
										</table>
									</li>
									<li class="news-item">
										<table cellpadding="4">
											<tr>
												<td></td>
												<td>Times flies is what they and I believe them. I have been wanting to write this recommendation for   ...<a  href="https://www.linkedin.com/in/vinith-thaithara-0a16ba18/" target="_blank">Read more...</a></td>
											</tr>
										</table>
									</li>
									<li class="news-item">
										<table cellpadding="4">
											<tr>
												<td>Vinith is very detail oriented, and is able to complete projects with minimal guidance. He is a capable programmer who is able to pickup new </td>
												<td><a  href="https://www.linkedin.com/in/vinith-thaithara-0a16ba18/" target="_blank">Read more...</a></td>
											</tr>
										</table>
									</li>
									<li class="news-item">
										<table cellpadding="4">
											<tr>
												<td></td>
												<td>Vinith's greatest strength is his openness towards learning. He is always ready to experiment and learn ways to do things in a better fashion ...<a  href="https://www.linkedin.com/in/vinith-thaithara-0a16ba18/" target="_blank">Read more...</a></td>
											</tr>
										</table>
									</li>
									<li class="news-item">
										<table cellpadding="4">
											<tr>
												<td></td>
												<td>Vinith, a simple but very talented professional . He is up-to-date in terms of technology and very hardworking. He is capable of handling ...<a  href="https://www.linkedin.com/in/vinith-thaithara-0a16ba18/" target="_blank">Read more...</a></td>
											</tr>
										</table>
									</li>
									<li class="news-item">
										<table cellpadding="4">
											<tr>
												<td></td>
												<td>Vinith was a good PHP programmer. Capable of handling challenging tasks ...<a  href="https://www.linkedin.com/in/vinith-thaithara-0a16ba18/" target="_blank">Read more...</a></td>
											</tr>
										</table>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel-footer">

					</div>
				</div>
			</div>
			  
			
			 
		</div>
	</div>