==
<? 

function onStart()
{
    $datetime1 = new DateTime('2005-12-26');
    $datetime2 = new DateTime('now');
    $interval = $datetime1->diff($datetime2);

    $this['experience'] =  $interval->format('%y');
    
}
?>
==
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>About</h2>
            <hr class="star-light">
        </div>
    </div>
    <div class="row" >
        <div class="col-lg-8 col-lg-offset-2">
            <p style="text-align:justify; font-size:15px">{{ experience }} years of experience and good hands on web technologies such as PHP, mySQL, HTML5, CSS, JQUERY, & JS etc. Love to learn new technology and take the challenge to do remarkable application. A good self learner, expertise in various PHP frameworks such as Zend, Codeignitor, CakePHP, Yii frameworks.Good hands on customizing open source application like Joomla, Wordpress, Magento, SugarCRM etc. Good hands on solving webs and server side application technical issues.</p>
         
            <p style="text-align:justify; font-size:15px">Have experience in handling onsite and offshore team and ability to handle more team members.Good experience using project management and methodology tools like Jira and Scrum etc. Experience in reporting to the Top Management Members. Good hands on unit testing.</p>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="https://docs.google.com/document/d/1YDyNS2srJ26RfaRiyuY2I_PYm9_C2hCHQFDw9BVVt7Y/edit?usp=sharing" target="_blank" class="btn btn-lg btn-outline">
                <i class="fa fa-download"></i> Download Resume
            </a>
        </div>
    </div>
</div>