description = "PROFESSIONAL SKILLS"
==
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Professional Skill Sets</h2>
            <hr class="star-primary">
        </div>
    </div>
    <div class="row">
             <!-- Skill Bars -->
              <div class="progress skill-bar ">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill">php<i class="val">100%</i></span>
                </div>
            </div>   
             <div class="progress skill-bar ">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill">mysql/mariadb  <i class="val">100%</i></span>
                </div>
            </div>
            <div class="progress skill-bar ">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill">html/html5  <i class="val">100%</i></span>
                </div>
            </div>
              <div class="progress skill-bar">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill">JavaScript<i class="val">100%</i> </span>
                </div>
            </div>  
              <div class="progress skill-bar">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill">JQuery<i class="val">100%</i></span>
                </div>
            </div>  
            <div class="progress skill-bar">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill">ajax<i class="val">100%</i></span>
                </div>
            </div>  
             <div class="progress skill-bar">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="80" >
                    <span class="skill">css<i class="val">80%</i></span>
                </div>
            </div>            
              <div class="progress skill-bar ">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="75">
                    <span class="skill">nodeJS<i class="val">75%</i></span>
                </div>
            </div>           
           <div class="progress skill-bar">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="70" >
                    <span class="skill">Gulp/Gruntjs<i class="val">70%</i></span>
                </div>
            </div> 
             <div class="progress skill-bar">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="90" >
                    <span class="skill">Bootstrap<i class="val">90%</i></span>
                </div>
            </div> 
            
           
    </div>
</div>